@font-face {
   font-family: 'ETH_B_GOFA';
   font-display: swap;
   src: url('ETH_B_GOFA/font.ttf');
}
@font-face {
   font-family: 'A0TesfaUnicode_20030720';
   font-display: swap;
   src: url('A0TesfaUnicode_20030720/font.ttf');
}
