@font-face {
   font-family: 'A0TesfaUnicode_20030720';
   font-display: swap;
   src: url('file:///C:/Users/Cachilupi/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-12-10_211317/fonts/A0TesfaUnicode_20030720/font.ttf');
}
