@font-face {
   font-family: 'ETH_B_GOFA';
   font-display: swap;
   src: url('file:///C:/Users/Cachilupi/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-12-10_211317/fonts/ETH_B_GOFA/font.ttf');
}
